*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
}
body{
	font-size:20px;
	overflow-x:hidden;
	color:white;
	font-family: 'Bubblegum Sans', cursive;

}

header{
	    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('micheile.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		height:100vh;
	  
}

.clearfix:after{
	content:".";
	       visibility:hidden;
		   display:block;
		   height:0px;
		   clear:both;
		   
}
.image{
	     max-width:1180px
		 margin:0 auto;
}
.logo{
        height:140px;
	    weight:auto;
		float:left;
		margin-top:30px;
		margin-left:25px;
		border:3px solid yellow;
		border-radius:360px;	
}


.box{
	    float:right;
	  margin-top:55px;
	  margin-right:30px;
	  
}
.box li{
	       display:inline-block;
		   list-style:none;
		   margin-left:40px;
}

.box li a{
	       padding:5px 0;
           color:#fff;
           text-decoration:none;
           text-transform:uppercase;
           font-size:90%;
           font-weight:100px;	   
}

.box li a:hover{
	   border-bottom:2px solid #ff00ff;
}

.header-content{
	    width:1180px;
		position:absolute;
		top:50%;
		left:60%;
		transform:translate(-50%,-50%);
		font-size:36px;
	
}

h1{
	color:#fff;
	font-size:240%;
	word-spacing:2px;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
	font-weight:lighter;
	
}

h3{
	width:1180px;
		position:absolute;
		top:40%;
		left:60%;
		transform:translate(-50%,-50%);
		
}

h4{
	width:1180px;
		position:absolute;
		top:60%;
		left:85%;
		transform:translate(-50%,-50%);
		font-family:verdana;
		color:#00ffc5;
		
	 
}

.changecolor{
	  animation: changecolorhomeshopiie 2s infinite;
}

@keyframes changecolorhomeshopiie{
	0%{color:#fff;}
	25%{color:#48d80d;}
	50%{color:yellow;}
	
}

.icon{display:none;}

@media only screen and (max-width:1180px){
	.header-content{
		 width:100%;
		 padding:0 2%;
	}
}

@media only screen and (max-width:998px){
    h1{font-size:200%;}	
}

@media only screen and (max-width:768px){
	h1{font-size:180%;}	
	
	.box{display:none;}
	
	.icon{
		display:inline-block;
		color:#fff;
		float:right;
		margin-right:30px;
		margin-top:25px;
	}
	
	.box{float:left;}
	
	
	.box li{
		 display:block;
		 margin-top:10px;
	}
}

